* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carrosselCampanha {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100vw;
  max-width: 93vw;
  margin: 50px;
  justify-content: start;
}

.carrosselInterno {
  display: flex;
  flex-direction: row;
}

.cardCampanha {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #757575;
  border-radius: 5%;
  height: 380px;
  width: 320px;
  margin: 50px;
}

.fotoCampanha {
  width: 300px;
  height: 230px;
  justify-self: flex-start;
}

.tituloCampanha {
  font-size: 18px;
}